@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.google-weather-place {
  width: calc(770px/2); height: calc(450px/2);
}
.google-weather-crop {
  width: calc(770px/2); height: calc(450px/2);
  overflow: hidden;
  transition: 0.3s;
  position: absolute;
}
.google-weather {
  position: relative;
  left: -180px; top: -180px;
  width: 2560px; height: 5120px;
  transform: scale(0.5);
  transform-origin: 180px 180px;
  transition: 0.3s;
  position: absolute;
}
